Options -Indexes
DirectoryIndex index.html

RewriteEngine On

# Se existir arquivo ou pasta, serve diretamente
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Fallback SPA: envia para index.html
RewriteRule ^.*$ /index.html [L]
